doctype html
html
  head
    title
      block title  
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/assets/birthdayCake.png", type="image")
  body
    include header
    block content 