extends layout

block title
  | Users List

block content
  h1 List of Users
  table(class="box")
    tr
      th Name
      th Date of Birth
      th Actions
    each student in students
      tr(id=student.name)
        td= student.name
        td= student.birth
        td
          button(type="button") Delete